<h1>{{message}}</h1>
<a ui-sref='clients.new'>Add New Client</a><br>
<div ng-view="" class="main ng-scope">
  <div class="container ng-scope">
    <div class="category ng-scope">
      <div class="ng-scope">
        <div class="heading">
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div ng-repeat='client in clientData track by $index' class="col ng-scope">
            <md-card class="card-hover" style="height:150px;">
              <a ui-sref="clients.show({client_id:{{client.client_id}}})" style="color: #000000">
                <md-card-title style="height:80px;">
                  <md-card-title-media>
                    <img src="{{client.img}}" style="width:100%; height:100px">
                    <div class="md-media-md card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-content class="center">
                  <p>{{client.firstname}} {{client.lastname}}</p>
                </md-card-content>
              </a>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
