<div ng-view="" class="main ng-scope">
  <div class="container ng-scope">
    <div class="category ng-scope">
      <div class="ng-scope">
        <div class="heading">
        </div>
        <div class="clearfix"></div>
        <md-card class='client-mdcard'>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{clientData.firstname}} {{clientData.lastname}}</span>
              <span class="md-subhead">Department: Paddy's Pub</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"><img src="{{clientData.img}}"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
          </md-card-actions>
        </md-card>

        <div class="row">
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref="client_observations({client_id:clientData.client_id})">
                <md-icon>assessment</md-icon>
                <h3 class="ng-binding">Observation Logs</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>home</md-icon>
                <h3 class="ng-binding">Department Information</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding">Guardian Information</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon><i class="material-icons">local_hospital</i></md-icon>
                <h3 class="ng-binding">Doctor Information</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>description</md-icon>
                <h3 class="ng-binding">Diagnosis</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon><i class="material-icons">local_pharmacy</i></md-icon>
                <h3 class="ng-binding">Medications</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>warning</md-icon>
                <h3 class="ng-binding">Incident Reports</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>note</md-icon>
                <h3 class="ng-binding">Additional Notes</h3>
              </a>
            </div>
          </div>
        </div>
        <div class='row' layout="row" layout-align="end center">
          <span><a ui-sref="clients.update({client_id:clientData.client_id})"><md-button><md-icon>edit</md-icon>&nbsp;edit</md-button></a>
            <md-button ng-click='deleteClient()'><md-icon>delete</md-icon>&nbsp;delete</md-button></span>
        </div>
      </div>
    </div>
  </div>
</div>