<h1>{{clientData.firstname}} {{clientData.lastname}}</h1>
<a ui-sref="clients.update({client_id:clientData.client_id})"><md-button class="md-raised md-primary">Edit</md-button></a>
<md-button class="md-raised md-primary" ng-click='deleteClient()'>Delete</md-button>

<div ng-view="" class="main ng-scope">
  <div class="container ng-scope">
    <div class="category ng-scope">
      <div class="ng-scope">
        <div class="heading">
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref="observations({client_id:clientData.client_id})">
                <md-icon>people</md-icon>
                <h3 class="ng-binding">Observation Logs</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding">Department Information</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding">Guardian Information</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding">Doctor Information</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>