<h1>{{message}}</h1>

<div ng-view="" class="main ng-scope">
  <div class="container ng-scope">
    <div class="category ng-scope">
      <div class="ng-scope">
        <div class="heading">
          <div class="row">
            <div class="col ng-scope">
              <div class="card center">
                <a ui-sref="client_observations.showAll">
                  <md-icon>assessment</md-icon>
                  <h3 class="ng-binding">View Observation Logs</h3>
                </a>
              </div>
            </div>
            <div class="col ng-scope">
              <div class="card center">
                <a ui-sref="client_observations.new">
                  <md-icon>note_add</md-icon>
                  <h3 class="ng-binding">Add Observation Log</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a ui-sref='clients.new'>Add New Client</a><br>