<h1>{{message}}</h1>

<div layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding>
    <div>
      <form name="newClientForm">
        <!-- <div layout-gt-sm="row"> -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input name='firstName' ng-model="newClient.firstName" required>
            <div ng-messages="newClientForm.firstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last name</label>
            <input name='lastName' ng-model="newClient.lastName" required>
            <div ng-messages="newClientForm.lastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <md-button class="md-raised md-primary" ng-click='createClient()'>Submit</md-button>
          </md-input-container>
        <!-- </div> -->
      </form>
    </div>
  </md-content>
</div>