<h1>{{message}}</h1>

<div ng-view="" class="main ng-scope">
  <div class="container ng-scope">
    <div class="category ng-scope">
      <div class="ng-scope">
        <div class="heading">
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding" style='font-size:25px;'>Clients</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='departments'>
                <md-icon>home</md-icon>
                <h3 class="ng-binding" style='font-size:25px;'>Departments</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding" style='font-size:25px;'>Employees</h3>
              </a>
            </div>
          </div>
          <div class="col ng-scope">
            <div class="card center">
              <a ui-sref='clients'>
                <md-icon>people</md-icon>
                <h3 class="ng-binding" style='font-size:25px;'>Guardians</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>